---
const { src, alt, link } = Astro.props;
---

<div class="relative group w-56 h-96">
   <img
      src={src}
      alt={alt}
      class="w-56 h-96 object-cover rounded-lg shadow-lg"
   />
   <a
      class="absolute inset-0 flex items-center justify-center bg-slate-950/80 text-white text-xl font-semibold rounded-lg opacity-0 group-hover:opacity-100 transition-opacity"
      style="pointer-events: auto;"
      href={link}
   >
      Crear Torneo
   </a>
</div>
