<nav class="sticky top-0 z-50 bg-pink-500/80 backdrop-blur-md p-4 text-white">
    <ul class="flex flex-row w-full items-center gap-5">
        <a href="/"><img src="./favicon.svg" alt="Favicon" class="h-8 w-8" /></a>
        <li><a href="/games" class="py-2 p-4 bg-black rounded-4xl">Juegos</a></li>
        <li><a href="#" class="py-2 p-4 rounded-4xl">Torneos</a></li>
        <li><a href="#" class="py-2 p-4 rounded-4xl">Equipos</a></li>
        <li><a href="#" class="py-2 p-4 rounded-4xl font-bold">Contacto</a></li>
    </ul>
</nav>
