<section class="px-4 py-8 min-h-screen bg-slate-900">
    <h2 class="text-6xl text-pink-500 font-bold mb-8 text-center">
        Rankings por Temporada
    </h2>

    <div class="max-w-4xl mx-auto space-y-6">


        <!-- Temporada 2024 -->
        <div class="bg-slate-800 p-6 rounded-lg flex flex-row  ">
            <img
                src="/logos/csgo2-icon.png"
                alt="Counter-Strike 2"
                class="w-16 h-16 top-2 left-2 rounded-full"
            />
            <div class="w-full">
                <section class="flex flex-col justify-center ml-4 w-full">
                    <div class="flex justify-between items-center mb-3 w-full">
                        <h3 class="text-xl font-semibold text-white">Temporada 2024</h3>
                        <span class="text-pink-400 font-bold">60/100 Juegos</span>
                    </div>
                    <div class="w-full bg-slate-700 rounded-full h-6">
                        <div
                            class="bg-gradient-to-r from-yellow-400 to-blue-600 h-6 rounded-full transition-all duration-700"
                            style="width: 60%"
                        >
                        </div>
                    </div>
            </div>
        </div>

        <!-- Temporada 2024 -->
        <div class="bg-slate-800 p-6 rounded-lg flex flex-row  ">
            <img
                src="/logos/dota2-icon.png"
                alt="Dota 2"
                class="w-16 h-16 top-2 left-2 rounded-full"
            />
            <div class="w-full">
                <section class="flex flex-col justify-center ml-4 w-full">
                    <div class="flex justify-between items-center mb-3 w-full">
                        <h3 class="text-xl font-semibold text-white">Temporada 2024</h3>
                        <span class="text-pink-400 font-bold">92/100 Juegos</span>
                    </div>
                    <div class="w-full bg-slate-700 rounded-full h-6">
                        <div
                            class="bg-gradient-to-r from-red-800 via-slate-600 to-slate-400 h-6 rounded-full transition-all duration-700"
                            style="width: 92%"
                        >
                        </div>
                    </div>
            </div>
        </div>

        <!-- Temporada 2024 -->
        <div class="bg-slate-800 p-6 rounded-lg flex flex-row  ">
            <img
                src="/logos/l4d2-icon.png"
                alt="Left 4 Dead 2"
                class="w-16 h-16 top-2 left-2 rounded-full"
            />
            <div class="w-full">
                <section class="flex flex-col justify-center ml-4 w-full">
                    <div class="flex justify-between items-center mb-3 w-full">
                        <h3 class="text-xl font-semibold text-white">Temporada 2024</h3>
                        <span class="text-pink-400 font-bold">77/100 Juegos</span>
                    </div>
                    <div class="w-full bg-slate-700 rounded-full h-6">
                        <div
                            class="bg-gradient-to-r from-orange-400 to-white h-6 rounded-full transition-all duration-700"
                            style="width: 77%"
                        >
                        </div>
                    </div>
            </div>
        </div>

        <div class="bg-slate-800 p-6 rounded-lg flex flex-row  ">
            <img
                src="/logos/lol-icon.webp"
                alt="League of Legends"
                class="w-16 h-16 top-2 left-2 rounded-full"
            />
            <div class="w-full">
                <section class="flex flex-col justify-center ml-4 w-full">
                    <div class="flex justify-between items-center mb-3 w-full">
                        <h3 class="text-xl font-semibold text-white">Temporada 2024</h3>
                        <span class="text-pink-400 font-bold">56/100 Juegos</span>
                    </div>
                    <div class="w-full bg-slate-700 rounded-full h-6">
                        <div
                            class="bg-gradient-to-r from-yellow-600 to-blue-600 h-6 rounded-full transition-all duration-700"
                            style="width: 56%"
                        >
                        </div>
                    </div>
            </div>
        </div>

    </div>


</section>
