---
import { Image } from "astro:assets";
import NavBar from "../components/NavBar.astro";
import GamesCards from "./GamesGroup.astro";
import Rankings from './Rankings.astro';
---

<div class="w-full relative min-h-screen  overflow-hidden">

		<div class="absolute inset-0  ">
			<img
				src="./hero-section.jpg"
				alt=""
				class="object-cover w-full h-screen"
			/>
		</div>

		<section
			class="relative flex flex-col items-center justify-center h-screen bg-cover bg-center w-full text-white gap-y-10 "
		>
			<h1 class="text-8xl font-bold">Tournify</h1>
			<p class="text-2xl">Organiza tu primer torneo e-sport</p>
		</section>

		<GamesCards />

		<Rankings />

</div>
