---
import { Image } from 'astro:assets';
import NavBar from '../components/NavBar.astro';
import Games from './Games.astro';
---

<div class="relative w-full" >
	<NavBar />
	<img src="./hero-section.jpg" alt="" class="absolute inset-0 object-cover w-full h-full z-10" />
	<section class="absolute flex flex-col items-center justify-center h-screen bg-cover bg-center w-full  text-white z-20" >
		<h1 class="text-8xl font-bold">Tournify</h1>
		<p class="text-2xl">Organiza tu primer torneo e-sport</p>
	</section>
	<p>test</p>
	<Games />
</div>